@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background-image: url(./components/assets/images/image\ 1.png);
    background-size: cover;
    background-position: right -130px top;
    background-repeat: no-repeat;
    object-fit: cover;
}

.get-inTouch{
    background-image: url(./components/assets/images/pexels-fr3nks-305568\ 1.png);
    background-size: cover;
}

@media (min-width: 768px) {
    .hero{
        background-position: center;
    }
}

.customDatePicker input {
    padding: none;
    border: none;
    /* border-radius: 5px; */
  }